@font-face {
    font-family: "A";
    src: local("A"),
      url(fonts/A.woff)
      format("truetype");}
.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    top: 0px;
    width:100%;
    border-bottom: 5px rgb(0, 0, 0) solid;
    background-color: white;
}
.body{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.bigp {
    font-size: larger;
    font-weight: bolder;
}
p {
    margin-left: 20px;
    margin-top: 2px;
}
.pc {
    margin-left: 20px;
    margin-top: 5px;
}
a {
    color: rgb(150, 20, 60);
     position: relative;
      cursor: pointer;
      text-decoration: none;
  }
  a::after {
    content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: rgb(200, 200, 200);
      transition: width 0.5s;
  }
  a:hover::after {
    content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 2px; 
      background-color: rgb(150, 20, 60); 
      transition: width 0.5s;
  }
.info {
    margin-top: 50px;
    width: 500px;
    padding: 20px;
    background-color: gray;
    height: fit-content;
}
.logo {
    margin-top: -40px;
    overflow: hidden;
}
.tabs {
    align-self: center;
}
.tab {
    margin-right: 15px;
}
.card {
    height: 500px;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: left;
  }
  .card__title{
    color: white;
    margin-left: 60%;
    align-self: center;
    margin-right: 30px;
    font-size: 32px;
    white-space: nowrap;
  }
  .headlines{
    font-size: 30px;
    margin-top: 40px;
  }
  .text-content{
    margin-left: 30px;
    margin-right: 20px;
  }
  .subtext{
    font-size: 20px;
  }